#caught{
	overflow-x: visible !important;
}

#caught > .item{
	font-size: 30px;
	background: #FFF;
}

#caught > .item > *{
	display: inline-block;
}

#caught > .item.odd{
	background: #f1f1f1;
}

#caught > .item > img{
	height: 70px;
	width: auto;
	margin-bottom: -10px;
}

#caught > .item > span{
	vertical-align: top;
	padding: 15px 5px;
}
