* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	margin: 0px;	
	padding: 0px;
	background-color: #ff0000; /* generic pokedex color */
}

body.splashscreen{
	background-repeat: no-repeat;
	background-size: 100% 125%;
	background-position: 0 -140px;
	background-image: url(../img/spritesheet.png);
	background-color: #828e60;
}

body > .toast{
	position: fixed;
	z-index: 10;
	bottom: 60px;
	width: 100%;
	display: none;
}

body > .toast > div{
	position: relative;
	width: 240px;
	height: 60px;
	background: #FFF1C4;
	margin: 0px auto;
	border-radius: 1px;
}

body > .toast > div > .text-wrapper{
	margin: 0px 60px 0px 0px;
	height: 100%;
	position: relative;
}

body > .toast > div > .text-wrapper > div{
	display: table;
	width: 100%;
	height: 100%;
}

body > .toast > div > .text-wrapper > div > span{
	display: table-cell;
	word-wrap: break-word;
	vertical-align: middle;
	text-align: center;
}

body > .toast > div > img{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
}


/* DEFAULT CSS, don't really know if it is needed */

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
